:root {
  --dark-purple: #22223b;
  --light-purple: #4a4e69;
  --medium-purple: #9a8c98;
  --dark-bege: #c9ada7;
  --light-bege: #f2e9e4;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(0, 224, 255);
  background: linear-gradient(
    297deg,
    rgba(0, 224, 255, 1) 0%,
    rgba(0, 71, 255, 1) 47%
  );
}

h2,
h3 {
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.25px;
  background: -webkit-linear-gradient(
    145.64deg,
    #00e0ff 9.67%,
    #0047ff 107.49%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-content-container {
  border: 1px solid #cccccc60;
  background-color: #fff;
  border-radius: 24px;
  width: 40%;
  display: block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.content-wrapper {
  padding: 25px;
}

.title-wrapper {
  padding: 1px 0px;
  border-radius: 24px 24px 0px 0px;
  background: linear-gradient(145.64deg, #00e0ff 9.67%, #0047ff 107.49%);
}

.title-wrapper h1 {
  color: #fff;
}

.url-form input {
  border: 1px #c6c6c680 solid;
  border-radius: 12px;
  padding: 0 10px;
  height: 45px;
  width: 70%;
  color: var(--light-bege);
  background-color: #fff;
}

.url-form button {
  border: 1px #c6c6c6 solid;
  border-radius: 12px;
  height: 45px;
  width: 50px;
  padding: 10px;
  color: var(--light-bege);
  background: linear-gradient(145.64deg, #00e0ff 9.67%, #0047ff 107.49%);
  transition: all 300ms ease-in-out;
}

.url-form button:hover {
  cursor: pointer;
  color: #000;
  background: linear-gradient(145.64deg, #0047ff 9.67%, #00e0ff 107.49%);
}

h4 {
  margin: 0 auto;
  padding-top: 20px;
}

.tools {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #000;
  transition: all 300ms ease-in-out;
}

a:hover {
  color: var(--medium-purple);
}

.url-shortened a {
  border-bottom: 2px solid #0047ff;
  animation: all 1000ms ease-in-out;
}

.url-shortened a:hover {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #0047ff;
}

.author {
  padding: 20px 0px 10px 0px;
}

.author a {
  border-bottom: 2px solid #0047ff;
  animation: all 1000ms ease-in-out;
}

.author a:hover {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #0047ff;
}

@media (max-width: 768px) {
  .main-content-container {
    width: 100%;
  }
}
